<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="{{url_for('static', filename='Paraphraser.css')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='Style.css')}}">
	<title>Input Image With Preview Image</title>
</head>
<body>

    <nav>
        <a href="/imagecompression"><div>Image Compression</div></a>
        <a href="/summarizer"><div>Paraphraser</div></a>
        <a href="/imagecaptioning"><div>Image Captioning</div></a>
    </nav>

    <div>
    <form action="/analyze" method="POST">
        <div class="container">
            <textarea name="rawtext" id="" cols="70" rows="20" style="resize: none;"></textarea>
        </div>

        <div style="display:flex; align-items:center; flex-direction: column; justify-content: center;">
            <div style="display:flex;">
                <div><button class="para" type="submit">Paraphrase</button></div>
                <div><select name="para" id="para">
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="60">60</option>
                    <option value="70">70</option>
                    <option value="80">80</option>
                </select></div>
            </div>
        </div>
    </form>
    </div>
        

	<script src="{{url_for('static', filename='Paraphraser.js')}}"></script>
</body>
</html>